@use 'typography';
@use '../helpers/functions';

@font-face {
	font-family: Outfit;
	font-display: swap;
	src: url('../fonts/Outfit-Bold.woff2') format('woff2'),
		url('../fonts/Outfit-Bold.woff') format('woff');
	font-weight: functions.weight(bold);
	font-style: normal;
}
@font-face {
	font-family: Outfit;
	font-display: swap;
	src: url('../fonts/Outfit-Regular.woff2') format('woff2'),
		url('../fonts/Outfit-Regular.woff') format('woff');
	font-weight: functions.weight(regular);
	font-style: normal;
}
